html
  link(rel='import', href='../dist/vainilla-tour.html')
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
  style
    body {
      margin:0;
    }
    p {
      
    }
    paper-card {
      width: 100%;
    }
    .fixed {
      position: fixed;
      bottom: 16px;
      right: 16px;
    }
    .left {
      position: fixed;
      bottom: 16px;
      left: 16px;
    }
    .right {
      position: fixed;
      bottom: 16px;
      right: 16px;
    }
    .contenido {
      display: inline-block;
      position: relative;
      box-sizing: border-box;
      background-color: #ffffff;
      border-radius: 2px;
      font-family: 'Roboto', 'Noto', sans-serif;
      -webkit-font-smoothing: antialiased;
      width: 100%;
      text-align: center;
    }
    .tite {
      padding: 16px;
      font-size: 24px;
      font-weight: 400;
      color: #000;
      bottom: 0px;
      position: relative;
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
      overflow: hidden;
    }
    .card-content {
      padding: 16px;
      position: relative;
    }
    paper-card {
      display: block;
            position: relative;
    }

    paper-card[elevation="1"] {
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                      0 1px 5px 0 rgba(0, 0, 0, 0.12),
                      0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }

    paper-card[elevation="2"] {
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
                      0 1px 10px 0 rgba(0, 0, 0, 0.12),
                      0 2px 4px -1px rgba(0, 0, 0, 0.4);
    }

    paper-card[elevation="3"] {
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
                      0 1px 18px 0 rgba(0, 0, 0, 0.12),
                      0 3px 5px -1px rgba(0, 0, 0, 0.4);
    }

    paper-card[elevation="4"] {
      box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
                      0 3px 14px 2px rgba(0, 0, 0, 0.12),
                      0 5px 5px -3px rgba(0, 0, 0, 0.4);
    }

    paper-card[elevation="5"] {
      box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
                      0  6px 30px 5px rgba(0, 0, 0, 0.12),
                      0  8px 10px -5px rgba(0, 0, 0, 0.4);
    }

    paper-card[animated] {
      transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    }

    paper-card {
      display: inline-block;
            position: relative;
            box-sizing: border-box;
            background-color: #ffffff;
            border-radius: 2px;font-family: 'Roboto', 'Noto', sans-serif;
          -webkit-font-smoothing: antialiased;;
    }

    paper-card [hidden].paper-card {
      display: none !important;
    }

    paper-card .header.paper-card {
      position: relative;
            border-top-left-radius: inherit;
            border-top-right-radius: inherit;
            overflow: hidden;;
    }

    paper-card .header.paper-card iron-image.paper-card {
      width: 100%;
            pointer-events: none;;
    }

    paper-card .header.paper-card .title-text.paper-card {
      padding: 16px;
            font-size: 24px;
            font-weight: 400;
            color: white;;
    }

    paper-card .header.paper-card .title-text.over-image.paper-card {
      position: absolute;
            bottom: 0px;;
    }

    paper-card  .card-content {
      padding: 16px;
            position:relative;;
    }

    paper-card  .card-actions {
      border-top: 1px solid #e8e8e8;
            padding: 5px 16px;
            position:relative;;
    }
  body
    vainilla-tour(with-labels='true', name='tour1')
      step-tour(value='Primer mensaje', for='examenesEmpresa', color='white', background='#F50057')
      step-tour(value='No tiene la propiedad "for" por lo tanto debería de estar en el centro', color='white', background='#00ACC1')
      step-tour(value='Para la tabla', for='paperCard', color='white', background='#F50057')
      step-tour(value='Para la tabla adentro', for='buttonone', color='white', background='#F50057', inherit)
      step-tour(value='sin color y sin for')
      step-tour(value='Para la columna', for='left', color='white', background='#F50057')
      step-tour(value='Para la imagen',for='right', color='white', background='#F50057')
    div
      div.left#left EnriqueLC
      div.right#right
        a(href='https://twitter.com/_EnriqueLC', target='_blank') Follow Me
    paper-card#paperCard(heading='Multi Tour Option 1')
      .card-content Contenido
      .card-actions
        paper-button#buttonone Button 1
        paper-button#buttontwo Button 2
    paper-card#paperCard(heading='Multi Tour Option 2')
      .card-content Contenido
      .card-actions
        paper-button#buttonone Button 1
        paper-button#buttontwo Button 2
    paper-card#paperCard(heading='Multi Tour Option 3')
      .card-content Contenido
      .card-actions
        paper-button#buttonone Button 1
        paper-button#buttontwo Button 2
    paper-card#paperCard(heading='Multi Tour Option 4')
      .card-content Contenido
      .card-actions
        paper-button#buttonone Button 1
        paper-button#buttontwo Button 2
  script
    document.querySelector('vainilla-tour').init();
