//Font Awesome
link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet', type='text/css')
template#vainilla-tour
  style
    :host {
      -webkit-transition: all ease 0.5s;
      transition: all ease 0.5s;
      width: 400px;
      height: auto;
      min-height: 120px;
      position: fixed;
      display: inline-block;
      z-index: 10000000;
      box-sizing: border-box;
      border-bottom-color: #FFF;
      border-radius: 2px;
      font-family: 'Roboto', 'Noto', sans-serif;
      -webkit-font-smoothing: antialiased;
      padding-top: 10px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 0px 0 rgba(0, 0, 0, 0.12), 0 3px 0px -3px rgba(0, 0, 0, 0.2);
      margin: 0 auto;
    }
    :host ::content{
      color: inherit;
      text-align: center;
      min-height: 150px;
    }
    :host ::content .button {
      background: red;
      margin-left: 10px;
      margin-right: 10px;
      box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
      display: inline-block;
      position: relative;
      box-sizing: border-box;
      min-width: 5.14em;
      margin: 0 0.29em;
      background: transparent;
      text-align: center;
      font: inherit;
      text-transform: uppercase;
      outline-width: 0;
      border-radius: 3px;
      cursor: pointer;
      z-index: 0;
      padding: 0.7em 0.57em;
    }
    :host ::content .buttons {
      border-top: 1px solid #e8e8e8;
      width: 400px;
      position: absolute;
      bottom: 0px;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  content
template#step-tour
  style
    :host {
      display: table;
    }
    :host ::content div{
      color: inherit;
      opacity: 0;
      display: none;
      padding: 5px;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  content
template#step-inner-tour
  style
    :host {
      display: table;
    }
    :host ::content div{
      color: black;
      opacity: 0;
      display: none;
      padding: 5px;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  content
    template
script(src='vainilla-tour.browserify.js')
